@import "./variables.css";
@import "./utilities.css";
@import "./animations.css";
@import "../components/header/header.css";
@import "../components/hero/hero.css";
@import "../components/skills/skills.css";
@import "../components/projects/projects.css";
@import "../components/socials/socials.css";
@import "../components/backgrounds/backgrounds.css";
@import "../components/loading/loading.css";